<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>


</head>
<body>
<h1>Hello</h1>

<span class="errorMessage" th:utext="${errorMessage}"></span>

<form method="post" th:action="@{/loginSubmit}" th:object="${userBean}">

    <p>login: <input th:field="*{name}" type="text"/></p>
    <p>pwd: <input th:field="*{pwd}" type="password"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>


</body>
</html>
