<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Product Shopping Grid Styles - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="container">
    <h3 class="h3">Les créations de Jenny</h3>
    <div class="row">


        <div class="col-md-3 col-sm-6"
             th:each="creation:${creationList}">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" th:src="${creation.url1}"
                        >
                        <img class="pic-2" th:src="${creation.url2}"
                        >
                    </a>
                    <span class="product-discount-label"
                          th:text="${creation.date}">12/05/2021</span>
                </div>
                <div class="product-content">
                    <h3 class="title" th:text="${creation.name}"></h3>
                    <div class="price" th:text="${creation.price} + '€'"></div>
                </div>
            </div>
        </div>


    </div>

</div>

<script type="text/javascript">

</script>
</body>
</
